#cards{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
    flex-direction: row;
}

.cardOne{
width: 25%;
height: 450px;
border: 1px solid black;
border-radius: 10px;
    background-color: rgb(243, 201, 146);
}
.cardTwo{
    width: 25%;
    height: 450px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: rgb(243, 201, 146);
}
.cardThree{
    width: 25%;
    height: 450px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: rgb(243, 201, 146);
}

button{
    background-color: blueviolet;
}
